.root {
  width: 300px;
  margin-bottom: 10px;
  position: relative;
  .cardHeader {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .cardActions {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .icon {
    width: 8px;
    height: 8px;
    background-color: limegreen;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: 45px;
  }
  .tag {
    color: #ffffff;
    font-size: 0.7rem;
    margin-left: 10px;
    background-color: #7901db;
    border-radius: 8px;
    padding: 3px;
  }
  .expand {
    transform: rotate(0deg);
    margin-left: auto;
  }

  .expandOpen {
    transform: rotate(180deg);
  }
}
