.container {
  flex-direction: row;
  margin: 5px 8px;
  .progress_name {
    border-bottom: #b8b8b8 solid 1px;
    color: #424242;
    padding: 0;
    font-size: 1rem;
    margin: 0px 0px 10px 0px;
  }
  .taskCards {
    height: calc(100vh - 150px);
    overflow: scroll;
  }
}
